<footer>
<div class="content-padding">
    <div class="footer-content">
        <p> Copyright &copy; 2017  <span style =" font-family :'Tangerine', cursive; font-weight: bolder; color: rebeccapurple; font-size: 22px" > * Abdou *</span></p>

        <div class="social-media-icons">
            <a href="#"><i class="fa fa-empire"></i></a>
            <a href="#"><i class="fa fa-rebel"></i></a>
            
        </div>
    </div>
</div>

</footer>